@model Palmtrio.Web.Models.VideoStreamPartialViewModel
<section id="three" class="main style1 special">
    <div class="container">
        <header class="major">
            <h2>Leadership Team</h2>
        </header>
        @*<p>Ante nunc accumsan et aclacus nascetur ac ante amet sapien sed.</p>*@
        <div class="row 150%">
            <div class="6u 12u$(medium)">
                <span class="image fit"><img src="~/assets/images/theme/pic04.jpg" alt="" /></span>
                <h3>
                    Socrates
                </h3>
                <h4>Imbiber of Hemlock</h4>
                <p>The unexamined life is not worth living, so execute me now</p>
            </div>
            <div class="6u 12u$(medium)">
                <h4>The wisest man in Athens</h4>
                <p>
                    *<br />
                    *<br />
                    *<br />
                    *<br />
                    *<br />
                    *<br />
                </p>
                <h4>Stuff</h4>
                <p>
                    *<br />
                    *<br />
                    *<br />
                    *<br />
                    *<br />
                    *<br />
                </p>
            </div>
            <div class="12u 12u$(medium)">
                <ul class="actions vertical">
                    <li><a href="javascript:void(0);" class="button btn-team-view">Back</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

